@{
    ViewBag.Title = "About";
    ViewBag.Message = "Why We are the Best";
}
<h2>@ViewBag.Title</h2>
<div class="container-fluid text-center back">
    <h3>@ViewBag.Message</h3>
    <div>
        <p>Our passion for painting is so strong that we go out of our way to provide the best possible experience for our clients!</p>
    </div>
    <div class="image">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQhWLTy6RXC3ONYtT0XSkFoKTqK81zrLZTdxQ&usqp=CAU" />
    </div>
</div>
<div class="container-fluid text-center back">
    <h3>Can't Find Time?</h3>
    <div>
        <p>We know you are busy. That is why our dedicated painting professionals are at your disposal 24/7.</p>
        <p>That's right. Have a midnight painting crisis? We got your back whenever you need us.</p>
    </div>
    <div class="image">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRtlp78ng2ecLg5HTXbnExL5Cfzdqt-o_5K4Q&usqp=CAU" />
    </div>
</div>
<div class="container-fluid text-center back">
    <h3>Free Touch Ups</h3>
    <div>
        <p>Did we miss a spot? We can take care of that for you for free!</p>
    </div>
    <div class="image">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRwI6q4_B4BzycejWJIfB9b47SQ9f97RxDPlA&usqp=CAU" />
    </div>
</div>
