@{
    ViewBag.Title = "About";
    ViewBag.Message = "Why We are the Best";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>
<div>
<p>Our passion for painting is so strong that we go out of our way to provide the best possible experience for our clients!</p>
</div>

<p>Maybe some image here</p>
