@{
    ViewBag.Title = "Home Page";
}

<div class="container-fluid">
    <div class="row jumbotron text-center">
        <div class="col-12">
            <h1>The Best Painters</h1>
            @if (!User.Identity.IsAuthenticated)
            {
                <p class="lead">Look for the Rest, We'll Handle the Rest</p>
            }
            @if (User.Identity.IsAuthenticated)
            {
                <p class="lead">Welcome Admin! What would you like to do?</p>
            }
        </div>
    </div>
</div>

<div class="row">
    @if (User.Identity.IsAuthenticated)
    {
        <div class="col-md-4">
            <h2>Access your Customers</h2>
            <p>
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Access Your Jobs</h2>
            <p>
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Access Your Crews</h2>
            <p>
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Materials</h2>
            <p>
            </p>
            <p><a class="btn btn-default">Click &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Manage Employees</h2>
            <p>
            </p>
            <p><a class="btn btn-default">Click &raquo;</a></p>
        </div>
    }
    @if (!User.Identity.IsAuthenticated)
    {
        <div class="container-fluid display">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">Contact Us</h2>
                        <p class="card-text">
                            Need something painted? Have any questions? Click below to contact the best service!
                        </p>
                        <p>@Html.ActionLink("Contact Us", "Contact")</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">Get to Know Us</h2>
                        <p class="card-text">
                            Who exactly are we? Click below to check us out!
                        </p>
                        <p>@Html.ActionLink("Learn More About Us", "About")</p>
                    </div>
                </div>
            </div>
        </div>
    }
</div>